<h1><%= t :welcome %> <%= @user.first_name %> <%= @user.last_name %></h1>

<p><%= t :registered %></p>

<p><%= t :activation_link %> <%= link_to t(:click_here), @activation_url %></p>

<p><%= t :thanks_for_registration %></p>