<%= custom_form_for [:admin, @artist] do |f| %>
  <%= f.input :name, autofocus: true %>

  <% if @artist.persisted? %>

    <div class="row admin-checkboxes">
      <div class="col-md-3"><%= f.input :active %></div>
    </div>

    <%= f.input :photo do %>
      <% if @artist.photo %>
        <%= image_tag @artist.photo.thumb('100x100').url, class: :thumbnail %>
        <div class="checkbox">
          <label><%= f.check_box 'remove_photo' %> <%= t 'remove', attribute: t('photo') %></label>
        </div>
      <% end %>
      <%= f.file_field :photo %>
    <% end %>

    <%= f.input :bio_source %>
    <%= f.input :bio %>
  <% end %>

  <%= f.button :submit, name: nil, data: {disable_with: t(:wait)}, class: [:btn, :'btn-primary'] %>
<% end %>