<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head><%= render 'head' %></head>
  <body>

    <%= render 'navbar' %>

    <section id="content" class="container-fluid">
      <div class="row">

        <aside class="aside aside-left col-md-2">
          <%= render 'nav' %>
          <%= render 'popular_artists', artists: @artists %>
        </aside>

        <section id="main" class="col-md-7">
          <%= flash_messages if flash %>
          <%= yield %>
        </section>

        <aside class="aside aside-right col-md-3">
          <%= content_for?(:aside_right) ? yield(:aside_right) : render('tab_aside', tabs: @tabs) %>
        </aside>

      </div>
    </section> <!-- /container -->

    <%= render 'footer' %>
    <%= render 'analytics' %>
  </body>
</html>